// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$color-light-gold: rgb(149, 140, 78);
$color-dark-gold: rgb(102, 96, 64);
$color-bg: rgb(235, 235, 235);
$color-cream: #F4F1E2;
$default-font: Arial, Helvetica, sans-serif;

@font-face {
  font-family: 'dsn_kamonregular';
  src: url('/fonts/dsnkm___-webfont.eot');
  src: url('/fonts/dsnkm___-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/dsnkm___-webfont.woff2') format('woff2'),
       url('/fonts/dsnkm___-webfont.woff') format('woff'),
       url('/fonts/dsnkm___-webfont.ttf') format('truetype'),
       url('/fonts/dsnkm___-webfont.svg#dsn_kamonregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'dsn_montanaregular';
  src: url('/fonts/dsnmtn__-webfont.eot');
  src: url('/fonts/dsnmtn__-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/dsnmtn__-webfont.woff2') format('woff2'),
       url('/fonts/dsnmtn__-webfont.woff') format('woff'),
       url('/fonts/dsnmtn__-webfont.ttf') format('truetype'),
       url('/fonts/dsnmtn__-webfont.svg#dsn_montanaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dsn_panutatregular';
  src: url('/fonts/dsnpnt__-webfont.eot');
  src: url('/fonts/dsnpnt__-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/dsnpnt__-webfont.woff2') format('woff2'),
       url('/fonts/dsnpnt__-webfont.woff') format('woff'),
       url('/fonts/dsnpnt__-webfont.ttf') format('truetype'),
       url('/fonts/dsnpnt__-webfont.svg#dsn_panutatregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dsn_singleregular';
  src: url('/fonts/dsnsin__-webfont.eot');
  src: url('/fonts/dsnsin__-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/dsnsin__-webfont.woff2') format('woff2'),
       url('/fonts/dsnsin__-webfont.woff') format('woff'),
       url('/fonts/dsnsin__-webfont.ttf') format('truetype'),
       url('/fonts/dsnsin__-webfont.svg#dsn_singleregular') format('svg');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0E00-0E70; 
}

.row {
  margin: 0px;

  .col-12 {
    padding: 0px;
  }

  .col-xs-12 {
    padding: 0px;
  }

  .col-sm-12 {
    padding: 0px;
  }

  .col-md-12 {
    padding: 0px;
  }
}

h1.title-cover {
  font-family: 'dsn_dsn_montanaregular';
  margin-bottom: 0px;
  line-height: 4.5rem;
  letter-spacing: 3px;
  color: white;
  // transform: scale(1.2, 1);
}

p.title-cover {
  font-family: 'dsn_kamonregular';
  font-size: 1.8rem;
  color: white;

  &:before, &:after {
    content: "";
    display: inline-block;
    border: 0.5px solid white;
    width: 40px;
    margin: 5px 10px;
  }
}

.firstbanner {
  background: none;
  border-bottom:5px solid white;
}

.service-fee {
  font-family: 'dsn_montanaregular';
  table.table {
    font-family: 'dsn_kamonregular';
    background-color: white;
    margin: 20px auto;
    width: 0;

    td {
      border: 1px solid #dee2e6;
      padding: 5px 30px;
      font-size: 20px;
    }
  }
}

.wedding {
  margin-bottom: 30px;

  h2 {
    font-family: 'dsn_montanaregular';
  }

  div.promotion {
    font-size: 1.25em;
  }
}

.cover-btn {
  font-size: 20px;
  padding: 0px 25px;
}

.navbar {
  padding: 0px;
  z-index: 1000;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

ul.navbar-nav {
  margin: 5px auto;

  li.nav-item {

    a.nav-link {
      line-height: 20px;
      vertical-align: middle;
      padding: 0px 1rem;
    }

    &:not(:last-child) {
      a.nav-link {
        border-right: 1px solid rgb(231, 233, 233);
      }
    }
    
  } 
}

html, body {
  height: 100%;
}

body.cover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/img/cover.jpg'); /* W3C */
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/img/cover.jpg'); /* FF3.6+ */
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/img/cover.jpg'); /* Chrome10+,Safari5.1+ */
  background-color: black;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  width: 100%;

  &.img-head {
    height: 400px;
  }
}

body {
  font-family: 'dsn_singleregular', 'dsn_kamonregular';
  background-color: rgb(235, 235, 235);
  font-size: 1.2em;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

p {
  font-family: 'dsn_singleregular', 'dsn_kamonregular';
  font-size: 1.25em;
  font-weight: 100;
  line-height: 1.7em;
  color: rgb(131, 130, 130);

  &.indent-50 {
    text-indent: 50px;
  }
}

.article {
  p {
    line-height: 1em;
  }
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background: #fff;
  color: $color-dark-gold;
  transition: all 0.3s;
  width: 250px;
  margin-left: -250px;
  z-index: 1;
  border-right: 1px solid $color-light-gold;

  &.active {
    margin-left: 0px;
  }

  .sidebar-header {
    padding: 20px;
    background: #fff;
    border-bottom: 1px solid $color-light-gold;
  }

  ul {
    p {
      color: $color-dark-gold;
      padding: 10px;
    }

    &.components {
      padding: 20px 0;
      width: 250px;
    }

    li {
      a {
        padding: 10px;
        font-size: 1.1em;
        display: block;

        &:hover {
          color: #fff;
          background: $color-dark-gold;
        }
      }

      &.lang {
        a {
          display: inline;

          img {
            height: 24px;
            width: 24px;
          }
        }
      }
    }
  }
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: $color-dark-gold;
}

#sidebarCollapse {
  position: absolute; 
  top: 0px; 
  left: 0px; 
  border: 0.2mm solid rgb(199,199,199);
  border-left: none;
  height: 60px;
  width: 70px;
}

#search {
  position: absolute; 
  top: 0px; 
  right: 0px; 
  border: 0.2mm solid rgb(199,199,199);
  height: 60px;
  width: 70px;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

.w100 {
  width: 100%;
}

.btn {
  border-radius: 0px;
}

.bg-cream {
  background-color: #F4F1E2;
}

footer {
  padding: 20px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 14.4px;
}

.btn-custom {
  border-radius: 0px;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0);
  color: white;
}

.mb-30 {
  margin-bottom: 30px;
}

.box {
  padding: 50px;
}

.btn-rb {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.corner {
  position: absolute;
  &.rb {
    right: 0px;
    bottom: 0px;
  }
  
  &.lb {
    left: 0px;
    bottom: 0px;
  }

  &.rt {
    right: 0px;
    top: 0px;
  }

  &.lt {
    left: 0px;
    top: 0px;
  }
}

.bg-lightgrey {
  background-color: rgb(235, 235, 235)
}

.text-gold {
  color: $color-light-gold;
}

.text-darkgold {
  color: $color-dark-gold
}

.list-group-item-action {
  display: inline;
  float: left;
}

ul.nav-pills > li.nav-item:not(:first-child) > a.nav-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

ul.nav-pills > li.nav-item:not(:last-child) > a.nav-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid grey;
}

a.nav-link {
  font-family: 'dsn_kamonregular';
  background-color: white;
  color: black;
  padding: 1px 15px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: black;
  color: white;
}

.title {
  font-family: 'dsn_panutatregular', Arial, Helvetica, sans-serif;
  color: $color-dark-gold;
}

.sub-title {
  font-family: 'dsn_montanaregular';
  color: $color-dark-gold;
}

a.btn-dark {
  border-radius: 0px;
  background-color: black;
  color: white;
  font-size: 28px;
  padding: 0px 15px;

  i.fas {
    font-size: 20px
  }
}

a.btn-bald {
  border: none;
  background: rgba(0, 0, 0, 0);
  font-size: 28px;
  padding: 0px 15px;
  
  i.fas {
    font-size: 20px
  }
}

a.btn-gold {
  color: $color-light-gold;
}

.fotorama__wrap {
  width: 100% !important;

  .fotorama__stage {
    // height: 480px !important;

    .fotorama__img {
      // height: 480px !important;
    }
  }
}

div.article-box {
  margin-left: 8%;
  margin-right: 8%;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

img.article-quote {
  width: 24px;
  height: 22px;
  position: absolute;

  &.start {
    top: 0px;
    left: 0px;
  }

  &.end {
    bottom: 0px;
    right: 0px;
  }
}

.imgvm-wrap {
  width: 100%;
  position: relative;
  background-color: black;

  img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .capture-hover {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: 'Arial';
    span {
      font-size: 18px;
    }
  }

  &:hover {
    img {
      opacity: 0.7
    }
    .capture-hover {
      opacity: 1;
    }
  }
}

ul.dash {
  list-style-type: none;
  li {
    line-height: 1em;
    &:before {
      content: '-';
      position: absolute;
      margin-left: -20px;
    }
  }
}

section.golf {
  div {
    .col-6, .col-4 {
      padding: 0px;
    }
  }

  .imgvm-wrap, img {
    height: 100%;
  }
}

.search {
  width: 12em;
  height: 2em;
  padding: 0;
  margin: 0;
  line-height: 2em;
  background-color: #333;
  position: relative;
  transition: all .25s linear;
  input {
    width: 9.5em;
    height: 2em;
    line-height: 1em;
    padding: 0 0 0 .5em;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1em;
    color: white;
    float: left;
    transition: all .25s linear;
  }
  a {
    width: 2em;
    height: 2em;
    line-height: 2em;
    padding: 0;
    color: #ccc;
    text-align: center;
    text-decoration: none;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transition: all .25s linear;
    &:before {
      content: "\f002";
      font-family: FontAwesome;
      font-style: normal;
    }
    &:hover {
      color: #eee;
    }
  }
  &.collapsed {
    width: 2em;
    margin-left: 10em;
    input {
      width: 0;
    }
    a {
      color: #999;
      &:hover {
        color: #bbb;
      }
    }
  }
}

#event-tag {
  font-family: $default-font;
  .card {
    max-height: 368px;

    .tag {
      position: absolute;
      padding: 5px 15px;
      line-height: 1.2;
      color: white;

      &.news {
        background-color: $color-dark-gold;
      }

      &.event {
        background-color: black;
      }
    }

    .card-body {
      background-color: $color-cream;
      padding: 10px;
      height: 100%;
      overflow-y: hidden;
      overflow-wrap: break-word;
      word-wrap: break-word;
      // hyphens: auto;
      text-overflow: ellipsis;

      .card-text {
        color: $color-dark-gold;
        line-height: 1;
      }
    }
  }
}

#homepage {
  .row {

    .gp, .lp, .cp {
      .container-fluid {
        height: 100%;
        .row {
          padding-top: 25px;
          height: 90%;
        }
      }
    }

    .introduce {
      background: rgba(0, 0, 0, 0.2);
      z-index: 1;
      padding: 5em 1em 1.5em;
    }

    .gp {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/golf_package.jpg'); /* W3C */
      background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/golf_package.jpg'); /* FF3.6+ */
      background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/golf_package.jpg'); /* Chrome10+,Safari5.1+ */
      background-position: center top;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    .lp {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/lodge_package.jpg'); /* W3C */
      background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/lodge_package.jpg'); /* FF3.6+ */
      background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/lodge_package.jpg'); /* Chrome10+,Safari5.1+ */
      background-position: center top;
      background-repeat: no-repeat;
      background-size: 120% 100%;
    }

    .cp {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/catering_package.jpg'); /* W3C */
      background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/catering_package.jpg'); /* FF3.6+ */
      background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/catering_package.jpg'); /* Chrome10+,Safari5.1+ */
      background-position: center top;
      background-repeat: no-repeat;
      background-size: 120% 100%;
    }
  }
}

.carousel-inner {

  height: 400px;

  .carousel-item {
    height: 100%;

    img {
      height: 100%;
    }
  }
}

#background-video {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  z-index: -100;
  transform: translate(-50%, -50%);
}

.event-column > div:not(:last-child) {
  border-right: 1px solid rgb(102, 96, 64);
}

ul#golf-course-slider {
  li {
    a {
      background: black;
      color: white;

      &.active {
        background: $color-light-gold
      }
    }

    &:not(:last-child) {
      a.nav-link {
        margin-right: 10px
      }
    }
  }
}

ul#golf-course-slider > li > a:not(:last-child) {
  margin-right: 15px;
}

@media (max-width: 575px) {
  .event-column > div:not(:last-child) {
    border-right: none;
  }

  .footlink {
    .reserve {
      margin-bottom: 10px;
    }
    .links {
      text-align: center !important;
      margin-top: 5px;
    }
  } 

  #homepage {
    .row {
      .gp, .lp, .cp {
        min-height: 250px;
        .container-fluid {
          .row {
            padding-top: 10px;
          }
        }
      }

      .lp {
        border-left: 0px !important;
      }

      .cp {
        border-left: 0px !important;
      }
    }
  }

  img.img-head {
    height: auto;
  }
}

@media (max-width: 991px) {
  .top-menu {
    display: none !important;
  }

  img.img-head {
    height: auto;
  }

  .carousel-inner {
    height: auto;
  }

  .firstbanner {
    background-image: url('/img/cover.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .article-box {
    h1.title {
      max-width: 250px;
      float: right;
    }
  }
}

.table-golf-fee {
  tr {
    td {
      min-width: 122px;
    }
  }
}
